.banner {
    width: 100%;
    height: 350px;
    background-image: url('https://i.imgur.com/1g8z9JL.jpg');
    background-size: cover;
    background-position:center;
    animation: changeBackground 20s infinite;
}

@keyframes changeBackground {
    0% {
        background-image: url('https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg?auto=compress&cs=tinysrgb&w=600');
    }
    25% {
        background-image: url('https://i02.appmifile.com/mi-com-product/fly-birds/redmi-note-12-pro-5g/pc/090e79a757530b7a87c77c88a88e5feb.png');
    }
    50% {
        background-image: url('https://images.pexels.com/photos/404280/pexels-photo-404280.jpeg?auto=compress&cs=tinysrgb&w=600');
    }
    75% {
        background-image: url('https://images.pexels.com/photos/583842/pexels-photo-583842.jpeg?auto=compress&cs=tinysrgb&w=600');
    }
    100% {
        background-image: url('https://images.pexels.com/photos/2093322/pexels-photo-2093322.jpeg?auto=compress&cs=tinysrgb&w=600');
    }
}