.banner {
    background-position: cover;
    height: 300px; 
    overflow: hidden;
}

.fade-in-animation {
    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
