.banner {
    width: 85%;
    height: 350px;
    background-size: cover;
    background-position: top;
    animation: changeBackground 25s infinite;
}

@keyframes changeBackground {
    0%  {
        background-image: url('../img/associado/0116_Prime_Tallhero_discover_01_1236x1080._CB612175534_.jpg');
    }
    20% {
        background-image: url('../img/associado/bannerA.jpg');
    }
    40% {
        background-image: url('../img/associado/2148x588_E-Gratis.jpg');
    }
    60% {
        background-image: url('../img/banner2.jpg');
    }
    80% {
        background-image: url('../img/associado/bannerA2.jpg');
    }
    100%{
        background-image: url('../img/associado/0288_CW23_associates_cross_530X300._CB595293536_.jpg');
    }
}