:root{
    --cor-verde: #28a745;
    --cor-azul: #007bff;
    --cor-branco: #fff;
    --cor-blacklight:#333;
    --fontTitulo:'agbalumo', sans-serif, roboto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/background.png');
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    #product-gallery {
        flex-direction: column;
    }
}
