.container__card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card {
    flex-basis: calc(20%);
    text-align: center;
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(25%);
    }
}

@media screen and (max-width: 480px) {
    .card {
        flex-basis: calc(50%);
    }
}