.container__card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 20px;
}

.card {
    display: flex;
    flex-basis: calc(25% - 30px);
    margin: 15px;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.container__detalhes {
    margin-top: 15%;
}
.detalhes {
    text-align: start;
}
.lista__detalhes p {
    display: flex;
    font-size: 12px;
    margin-top: 10px;
}

.container__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.sub-titulo {
    position: absolute;
    font-size: 2em;
    color:  rgb(249, 149, 35);
    margin: -3% 0 0 5%;
}

.img__oferta {
    max-width: 100%;
    width: 70%;
    height: auto;
    max-height: 200px;
}
.img__oferta:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 30px);
    }
    .sub-titulo {
        margin-top: -5%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        flex-basis: calc(100% - 30px);
    }
    .sub-titulo {
        margin-top: -8%;
    }
}