.container__card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 20px;
}

.card {
  flex-basis: calc(25%);
  text-align: center;
  margin-top: 10px;
}

.card__produto {
  background-color: var(--cor-branco);
  border: solid 3px var(--cor-cyan);
  border-radius: 5%;
  height: 400px;
  width: 300px;
}

.card__img {
  border-radius: 5%;
  height: 280px;
  background-size: cover;
}

.card__detalhes {
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .card {
    flex-basis: calc(30%);
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex-basis: calc(98%);
  }
  .container__card {
    flex-direction: column;
    align-items: center;
  }
}
