.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #ee8419;
    color:#333;
    padding: 20px;
    height: auto;
    width: auto;
}
.rodape__contato {
    max-width:100%;
    height: auto;
    text-align: center;
    gap: 3px;
}
.rodape__contato>p {
    font-weight: 400;
    font-family: var(--fontTitulo)
}
.copyright {
    font-size: 10px;
}
.lista__contato {
    display: flex;
    justify-content: center;
    gap: 2%;
}
.icon {
    color:var(--cor-blacklight);
    font-size: 20px;
}