.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ee8419;
    color:#333;
    padding: 20px;
}
.rodape__contato {
    text-align: center;
    gap: 3px;
}